body {
  margin: 0;
  padding: 0;
  background-color: #daaa;
  font-family: serif;
}

.container {
  position: relative;
  font-size: 12px;
  box-sizing: border-box;
}
.loginleft {
  position: absolute;
  margin-top: 20%;
  margin-left: 20%;
}
.loginleft img {
  height: 50px;
  width: 50px;
  margin-left: -80px;
}
.loginleft h1 {
  margin-top: -49px;
  font-size: 3rem;
  margin-left: -30px;
  color: #fff;
}
.loginleft h3 {
  color: #fff;
  margin-top: -30px;
  margin-left: -80px;
  font-size: 20px;
  font-weight: 100;
}
.loginright {
  position: absolute;
  margin-top: 20px;
  right: 0;
  background: #fff;
  height: 560px;
  width: 40%;
  margin-right: 10%;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.loginright h1 {
  font-size: 40px;
  padding: 30px;
}

.loginright h3 {
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: -40px;
  margin-left: 40px;
}

.loginright h3 a {
  text-decoration: none;
  color: rgb(14, 68, 218);
  font-size: 17px;
}
.formlogin {
  display: flex;
  flex-direction: column;
}

.formlogin label {
  font-size: 13px;
  margin-left: 60px;
  font-weight: 300;
  color: gray;
}

.formlogin input[type='email'] {
  width: 300px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid gray;
  margin-left: 60px;
}
.formlogin input[type='email']:focus {
  outline: none;
  border-bottom: rgb(115, 79, 235);
  background: transparent;
}
.formlogin input[type='submit'] {
  padding: 10px;
  margin-top: 30px;
  width: 100px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(14, 68, 218);
  margin-left: 65%;
  cursor: pointer;
}
.or {
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  background-color: #8875;
  border-radius: 100%;
  display: block;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
button {
  display: block;
  width: 70%;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-left: 70px;
  border: 0.3px solid gray;
  cursor: pointer;
}

.google {
  text-align: center;
  background-color: #fff;
  font-size: 15px;
}
.google i {
  color: #34a853;
  margin-right: 20px;
}
.facebook {
  text-align: center;
  background-color: #32508e;
  font-size: 15px;
}
.facebook i {
  margin-right: 10px;
  color: #fff;
}
.apple {
  text-align: center;
  background-color: #000;
  font-size: 15px;
  color: #fff;
}
.apple i {
  margin-right: 20px;
}
.facebook img {
  height: 20px;
  width: 30px;
  margin-left: 30px;
}
.apple img {
  height: 20px;
  width: 30px;
  margin-left: 30px;
  color: #fff;
}

/* media query */
@media only screen and (min-width: 800px) {
  .formlogin input[type='email'] {
    width: 230px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid gray;
    margin-left: 60px;
  }
}

@media only screen and (min-width: 1000px) {
  .formlogin input[type='email'] {
    width: 300px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid gray;
    margin-left: 60px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .loginleft {
    position: absolute;
    margin-top: 30px;
    position: fixed;
  }
  .loginright {
    position: absolute;
    margin-top: 160px;
    left: 0;
    margin-left: 65px;
    background: #fff;
    height: 500px;
    width: 70%;
    margin-right: 10%;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  button {
    display: block;
    width: 70%;

    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-left: 50px;
    border: 0.3px solid gray;
    cursor: pointer;
  }
  .formlogin input[type='submit'] {
    margin-top: 20px;
  }
  .formlogin input[type='email'] {
    width: 200px;
  }
}
